* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
  
/* Light/Dark Button styling */

#toggleMode {
    background-color: #bd71c1b0;
    border: none;
    padding: 10px 14px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 5px 8px 9px rgb(58, 25, 149);
}
  
/* Dark mode styles */

body.dark {
    background-color: #1e1e1e;
}

.dark .calculator {
    border: 1px solid rgb(209, 111, 160);
    box-shadow: 20px 15px 5px rgba(182, 182, 182, 0.848);
}

.dark p {
    color: whitesmoke;
}
  

.calculator {
    background: #6e819c;
    max-height: 95vh;
    padding: 1.3rem;
    border-radius: 25px;
    box-shadow: 20px 15px 5px black;
}

.calculator form input {
    background: #ffffffd5;
    font-size: 20px;
    border: 0;
    outline: 0;
    width: 60px;
    height: 70px;
    margin: 8px;
    border-radius: 20%;
    box-shadow: -5px -5px 10px rgba(3, 3, 3, 0.393), 5px 5px 10px rgba(0, 0, 0, 0.312);
    color: rgba(4, 4, 4, 0.788);
    cursor: pointer;
}

.calculator form input:hover {
    color: rgb(209, 111, 160);
    font-size: 30px;
}

form .box-display {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

form .box-display input {
    text-align: right;
    flex: 1;
    font-size: 50px;
    padding-right: 4.5px;
    border: .8px solid rgb(0, 0, 51);
    border-radius: 6px;
    box-shadow: none;
}

form input.equal {
    width: 137px;
}

form input.operators {
    color: rgb(202, 2, 145);
}

.bubble {
    display: flex;
    position: absolute;
    bottom: -100px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: .5rem; /* idk if I like? */
    color: rgb(3, 3, 3);
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    animation: floatUp linear infinite;
    pointer-events: auto;
    transition: transform .5s ease;
    background: radial-gradient(circle, rgba(160, 84, 161, 0.613) 30%, rgba(255, 255, 255) 60%);
    box-shadow: 0 0 8px rgb(202, 2, 145);
}

@keyframes floatUp {
    0% {
        transform: translateY(0);   
    }
    50% {   
        opacity: 0.1;
      }
    100% {
        transform: translateY(-120vh);   
      }
}

.info {
    text-align: center;
    color: rgb(85, 1, 61);
    margin-block: 2rem;
}

.info:hover {
    color: whitesmoke;
}

p {
    display: flex;
    position: absolute;
    bottom: -100px;
    margin-top: 1rem;
}

#timer {
    font-weight: bold;
    color: #474646;
  }
  
  body.dark #timer {
    color: #faecfa;
  }

/* Media Query */

@media (max-width: 375px) {
    .container {
        width: 90%;
        height: 90vh;
    }

    .calculator form input {
        font-size: 15px;
        width: 40px;
        height: 50px;
    }

    p {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .toggle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-right: 10rem;
    }

    .calculator {
      margin-top: 10rem;
      margin-bottom: 1rem;
    }
  
    #timer {
      font-size: 16px;
    }
  
    #restartTimer {
      padding: 6px 8px;
      font-size: 18px;
    }

    p {
        margin-left: 1rem;
    }
  }
  